@import "@/app/block_background";

.featuresPage {
  @extend %block-background;
  background-image: url("../../public/img/Features/Features1x.jpg");

  display: flex;
  align-items: center;
}
.featureWrapper {
  display: flex;
  justify-content: flex-end;
}
.featureBlock {
  max-width: 400px;
}
