.sliderBlock {
  display: flex;
  justify-content: center;
  min-height: 65vh;
  max-width: 600px;

  @media (max-width: 767px) {
    max-width: 365px;
    min-height: 30vh;
  }
}
.sliderBox {
  display: flex;
  align-items: center;
  position: relative;
  width: 50vw;

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 85vw;
  }

  @media (max-width: 767px) {
    width: 85vw;
  }
}
.sliderItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 610px;

  @media (max-width: 767px) {
    width: 170px;
    height: 210px;
  }
}
