$heading: #ffb548;
$menu-item-hover: #f3af34;
$button-text: #000000;
$transparent-text: rgb(255, 255, 255, 0.5);
$transparent-block: rgba(255, 255, 255, 0.08);
$text: #ffffff;
$table-lines: #979797;
$subscribe-page-background: #080a0b;
$button-first-gradient: #ffb548;
$button-second-gradient: #f3af34;
$button-hover-gradient: #d88e05;
$footer-background: #000000;
$input-text: rgba(255, 181, 72, 1);
$popup-background: #000000;
