html {
  scroll-behavior: smooth;
}
@import "fonts";
// Добавлено 24.01 для отбивки полей на small screen
div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// до этой части кода
h1,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  @extend %font-h1;
}
h2 {
  @extend %font-h2;
}
h3 {
  @extend %font-h3;
}

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}
