.button {
  cursor: pointer;
  background-color: inherit;
  border: none;

  transition: 0.5s;
}
.button:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.rightTurned {
  transform: rotate(-90deg);
}
.rightTurned:hover {
  transform: scale(1.5) rotate(-90deg);
  transition: transform 0.5s;
}
