@import "@/app/fonts";
@import "@/app/colors";
.button {
  @extend %font-button;
  box-sizing: border-box;
  width: 260px;
  min-height: 60px;
  padding: 10px 20px;

  cursor: pointer;

  background: linear-gradient(
    0deg,
    $button-first-gradient 10%,
    $button-second-gradient 100%
  );
  border: none;
  border-radius: 5px;
}

.button:hover {
  background: linear-gradient(
    0deg,
    $button-first-gradient 10%,
    $button-hover-gradient 100%
  );
}
