@import "../app/fonts";

.feedbackBlock {
  @media (min-width: 320px) and (max-width: 767px) {
    width: 300px;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  width: 450px;
  height: auto;
  padding: 20px;

  background: rgba(#fff, 0.08);
  border-radius: 15px;
  span {
    @extend %font-h3;
    @extend %font-h3-requirements;
  }
}
.avatarBlock {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  overflow: hidden;

  z-index: 2;
}
.feedbackBlock::after {
  position: absolute;
  top: 25px;
  left: 30px;

  content: "";
  width: 65px;
  height: 65px;
  border-radius: 65px;
  background-color: rgba(255, 181, 72, 1);
}

.feedbackUser {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
}
.feedbackGrey {
  opacity: 50%;
}
.nameBlock {
  display: flex;
  justify-content: space-between;
  img {
    opacity: 30%;
  }
}
