.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  @media (max-width: 1199px) {
    position: relative;
    background-color: black;
  }
}
.footerNav {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 30px;
  }
}
.foterMenu {
  @media (max-width: 767px) {
    position: relative;
  }
}
.soc {
  background: red;
}
.copyrightBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  grid-column-start: 1;
  grid-column-end: 3;
  p {
    font-size: 14px;
    opacity: 0.5;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 445px;
    li {
      list-style: none;
      text-transform: uppercase;
    }
  }
}
.copyrightList {
  display: flex;
  font-size: 12px;

  :not(:last-child)::after {
    content: " |\a0";
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}
