@import "../app/block_background";

.aboutPage {
  @extend %block-background;
  background-image: url("../public/img/About/about1x.jpg");

  display: flex;
  align-items: center;
}
.adoutBlock {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 320px) and (max-width: 1199px) {
    justify-items: center;
  }
}
.about {
  width: auto;
}
.aboutTextBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  position: relative;
}
.aboutTextBlock::after {
  content: "";
  width: 710px;
  border-top: solid 3px white;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.aboutText {
  max-width: 365px;
  margin-top: 60px;
}
